<div class= "col-10 offset-1 about">
    <h1 class>About Splurty</h1>
    
    <p>
        Splurty was built by <a target ="_blank" href ="https://github.com/Sirrahk"> Keara </a> a budding web developer and of course True Gemini. The goal of this Splurty app is to try to chage the perception of us Gemini's and to let everyone know how awesome we are.
    </p>
    <br />
    <p>
        This is just the first of many websites to come and with the help of this Web Development Bootcamp, she's learning how to become the world's greatest developer.
     </p>
  <div class ="row">  
  
    <div class="col-12 col-sm-7 offset-sm1 aboutkey">
    
    <h2 class>About Keara Harris</h2>
    <br />

    <p>
        Keara Harris receieved her Bachelor's Degree in Electrical Engineering, from Hampton University, in 2010. In 2012 she became a Patent Examiner at the United States Patent and Trademark office, where she worked, for 6 years, on Patents pertaining to Printing and Faxing and later moved to the area of Speech, Audio and Linguistics (think Siri, Machine learning, neural networks, and more). Now she no longer works at the Patent Office but has decided to embark on this Coding journey to get back to some of what she enjoyed, become a freelance web developer and use coding to make a difference in humanity.
    
    </p>
     
    </div>    
   </div>     
</div>

<br class ="clear">
<br />
<br />
<br />
<br />