@import url('https://fonts.googleapis.com/css?family=Croissant+One|ZCOOL+XiaoWei&display=swap&subset=latin-ext');
@import "bootstrap";

.clear {
    clear: both;
}

.circle {
    font-family: 'ZCOOL XiaoWei', serif;
    font-weight: bold;
    font-style: italic;
    position: relative;
    border-radius: 100%;
    background: #EB7936;
    border: 2px solid #F9F2EF;
    width: 100px;
    height: 100px;
    margin: 10px 10px;
    text-align: center;
    color: #F9F2EF;
    font-size: 10px;
    line-height: 16px;
    cursor: pointer;
    transform:rotate(11deg);
    -ms-transform:rotate(11deg); /* IE 9 */
    -webkit-transform:rotate(11deg); /* Opera, Chrome, and Safari */
}

.slogan {
  font-family: 'Croissant One', cursive;
  font-style: bold;
  padding-top: 26px;
  
}

.links {
    padding-top: 26px;
}

.links a {
    color: #107450;
    font-family: 'Croissant One', cursive; 
    font-size: 20px;
    border-bottom: 1px solid #EB7936;
}

header {
  border-top: 5px solid #107450;
}

hr {
  
  height: 5px;
  color: #107450;
  background-color: #107450;
  border: none;
}

h1 {
    font-family: 'ZCOOL XiaoWei', serif;
    font-weight: 700;
    letter-spacing: -1.5px;
}

h2 {
    font-family: 'ZCOOL XiaoWei', serif;
    font-weight: 700;
    letter-spacing: -1.5px;
}

.next-quote {
    color:#EB7936;
    font-family: 'Croissant One', cursive;
    font-size: 20px;
}

.footer-blurb {
    font-family: 'ZCOOL XiaoWei', serif;
    font-style: italic;
    text-align: right;
    font-size: 10px;
}

.logo:hover{
    text-decoration: none;
}

.about {
    font-family: 'ZCOOL XiaoWei', serif;   
    font-weight: 400;
}   

@media (max-width: 750px) {
    .footer-blurb{
        
        text-align: left;
    }
    
}

.modal {
   font-family: 'ZCOOL XiaoWei', serif;  
   font-weight: 400;
}

h2 span {
    color: #B5EED5;  
    font-family: 'ZCOOL XiaoWei', serif;
}

::selection {
    background-color: #EB7936; 
}