@import url('https://fonts.googleapis.com/css?family=Croissant+One|ZCOOL+XiaoWei&display=swap&subset=latin-ext');
@import "bootstrap";

.clear {
    clear: both;
}

.circle {
    font-family: 'ZCOOL XiaoWei', serif;
    font-weight: bold;
    font-style: italic;
    position: relative;
    border-radius: 100%;
    background: #EB7936;
    border: 1px solid #F9F2EF;
    width: 100px;
    height: 100px;
    margin: 10px 10px;
    text-align: center;
    color: #F9F2EF;
    font-size: 10px;
    line-height: 16px;
    cursor: pointer;
    transform:rotate(11deg);
    -ms-transform:rotate(11deg); /* IE 9 */
    -webkit-transform:rotate(11deg); /* Opera, Chrome, and Safari */
}

.slogan {
  font-family: 'Croissant One', cursive;
  font-style: bold;
  padding-top: 26px;
  
}

.links {
    padding-top: 26px;
}

.links a {
    color: #107450;
    font-family: 'Croissant One', cursive; 
    font-size: 20px;
    border-bottom: 1px solid #EB7936;
}

header {
  border-top: 9px solid #107450;
}

hr {
    clear: both;
}

h1 {
    font-family: 'ZCOOL XiaoWei', serif;
    font-weight: 700;
    letter-spacing: -1.5px;
}

h2 {
    font-family: 'ZCOOL XiaoWei', serif;
    font-weight: 700;
    letter-spacing: -1.5px;
}

.next-quote {
    color:#f84342;
    font-family: 'Croissant One', cursive;
    font-size: 20px;
}

.footer-blurb {
    font-family: 'Croissant One', cursive;
    font-style: italic;
    text-align: right;
    font-size: 10px;
}